html, body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #ebf5f9;
}

.color1 {
	color: #e76f51;
}

.color2 {
	color: #f4a261;
}

.color3 {
	color: #e9c46a;
}

.color4 {
	color: #2a9d8f;
}

.color5 {
	color: #264653;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 350px;
	height: 100%;
	display: block;
	text-align: center;
	background-color: #264653;
	color: #ffffff;
	font-family: 'Nanum Gothic', sans-serif;
	overflow-y: auto;
	overflow-x: hidden;
}

.movieInfo {
	width: 220px;
	font-family: 'Nanum Gothic', sans-serif;
}

.movieInfo td {
	border-bottom: 1px solid #264653;	
}

.title {
	font-family: 'Kaushan Script', cursive;
}

#content {
	width: 500px;
	display: block;
	float: right;
	margin-right: 245px;
	/* position: relative; */
	display: block;
	color: black;
}

/* 버튼 부분 시작 */
.btn {
	border-radius: 5px;
	padding: 5px 10px;
	/* font-size: 22px; */
	text-decoration: none;
	margin: 5px;
	color: #ffffff;
	position: relative;
	display: inline-block;
	border: none;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.red {
	background-color: #e76f51;
	box-shadow: 0px 5px 0px 0px #c74f31;
}

.red:hover {
	background-color: #f77f61;
}

.orange {
	background-color: #f4a261;
	box-shadow: 0px 5px 0px 0px #c48241;
}

.orange:hover {
	background-color: #ffb271;
}

.yellow {
	background-color: #e9c46a;
	box-shadow: 0px 5px 0px 0px #c9a44a;
}

.yellow:hover {
	background-color: #f9d47a;
}

.green {
	background-color: #2a9d8f;
	box-shadow: 0px 5px 0px 0px #0a7d6f;
}

.green:hover {
	background-color: #3aad9f;
}

.blue {
	background-color: #264653;
	box-shadow: 0px 5px 0px 0px #062633;
}

.blue:hover {
	background-color: #365663;
}
/* 버튼 부분 끝 */
